<<<<<<< HEAD
<%- include('./Partials/header.ejs') %>
<%- include('./Partials/main_nav.ejs') %>
=======
<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>
>>>>>>> 6569a9bc24b022a06f6df1da29a05894dbc3f927
<div class="container text-center vh-100 d-flex flex-column justify-content-center align-items-center">
  <h1>Welcome to the Tournament Bracket Manager!</h1>
  <p>Track and manage your tournaments with ease.</p>
  <a href="/tournaments" class="btn btn-primary mt-3">
    View Tournaments <i class="fa-solid fa-trophy"></i>
  </a>
</div>
<<<<<<< HEAD
<%- include('./Partials/footer.ejs') %>
=======
<%- include ../Partials/footer.ejs %>
>>>>>>> 6569a9bc24b022a06f6df1da29a05894dbc3f927
