<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>
    <!--Main content-->
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>
    <p> Welcome to the Tournament Bracket Manager website, over here you can head over to the Tournaments tab above and create your own contest.
<%- include Partials/footer.ejs%>